*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    // background-color: aliceblue;
    overflow: hidden;
}
.drag{
    -webkit-app-region: drag;
}
.nodrag,input,textarea,select,option{
    -webkit-app-region: no-drag;
}
#app{
    padding: 5px;
}